.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.main_h{
    font-size: 5rem;
}
.desc_rez{
    width: 900px;
    text-align: left;
    margin-bottom: 3rem;
}
.cab_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    border-radius: 20px;
    background-color: rgb(53, 52, 66);
    margin-bottom: 5rem;
}
.cont_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin-left: 3rem;
    margin-bottom: 2rem;
}
.title{
    font-size: 2rem;
    font-weight: 700px;
    padding-bottom: 0.5rem;
}
button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: relative;
}
button img{
    display: block;
    width: 100px; /* Ajustează dimensiunea imaginii */
    height: auto;

}
.cab_1_container{
    display: flex;
    flex-direction: row;
}
p{
    margin-top: none;
    text-align: center;
}
.img_1 img{
    border: 1px solid #ddd;
    width: 300px;
    height: 420px;
    margin: 5px;
    border-radius: 4px;
}
.img_2 img{
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px;
    width: 250px;
    height: 250px;
}
.img_3 img{
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px;
    width: 250px;
    height: 250px;
}
.img_all{
    display: flex;
    flex-wrap: wrap;
}
.img_all img{
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 160px;
    height: 160px;
    margin: 5.5px;
}
.cab_1 img:hover{
    box-shadow: 0 0 2px 1px rgba(188, 189, 189, 0.997);
}
button .hover-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fundal semi-transparent */
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}
button:hover .hover-text {
    background: none;
    opacity: 1;
}
.cont_mid{
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}
.cont_title_rez{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    background-image: url(../../../imagini/img_rez.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-bottom: 3rem;
    padding: 3rem;
    border-radius: 20px;
}
.rez{
    border-radius: 20px;
    padding-left: 2rem;
    background-color: rgba(53, 52, 66, 0.753);
}

