.Bun-venit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;

    margin-bottom: 0;
}
.Bun{
margin-bottom: 0;
}
.Bun-venit h3{
    margin-top: 0;
    padding: 0;
    color: white;
    font-size: 1rem;
}
.bunText{
    font-weight: 600;
    margin: 4rem;
}
.container-carusel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin-bottom: 3rem;
}
.container-text{
    display: flex;
    flex-direction: row;
    margin :3rem;
    background-color: rgb(53, 52, 66);
    border-radius: 50px;
}
.text-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
}
.title{
    color: white;
    font-size: 1rem;
    font-weight: hold;
    text-align: center;
}
.text{
    font-weight: 600;
    margin-right: 2rem;
}
.btn {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.btn button{
    width: 260px;
    height: 60px;
    border: none;
    text-align: center;
    margin: 3rem;
    border-radius: 20px;
    font-size: 30px;
}
.container-text img {
    width: 50vw;
    height: 100%;
    object-fit: cover;
}
.atractii{
    display: flex;
    flex-direction: row;
    margin :3rem;
    background-color: rgb(53, 52, 66);
    border-radius: 50px;
}
.atractii img{
    width: 50vw;
    height: 100%;
    object-fit: cover;
}
.btn_1 button{
    width: 300px;
    height: 60px;
    border: none;
    margin-top: 2rem;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
}
.descopera{
    display: flex;
    flex-direction: column;

}
.descopera_img{
    display: flex;
    flex-direction: row;

}
.descopera_img img{
    width: 200px;
    height: 250px;
    padding: 2rem;
}