.reservation-form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(181, 202, 96, 0.1);
  color: black;
}
.reservation-form h2 {
    color: #15265f;
    text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 15px;
  
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.date{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.sosire{
  margin-right: 2.5rem;
}

.btn {
  padding: 15px;
  background-color: #15265f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn button:hover {
  background-color: #0056b3;
}